<div class="container d-flex justify-content-center">
  <div class="box card col-6">
    <div class="card-body">
      <h3 class="text-center mb-4">
        Registro
      </h3>
      <form action="/auth/register" method="POST">
        <div class="mb-3">
          <label for="category-name" class="form-label">
            Nome
          </label>
          <input
            type="text"
            class="form-control"
            id="category-name"
            name="name"
            aria-describedby="categoryHelp"
          />
        </div>
        <div class="mb-3">
          <label for="category-name" class="form-label">
            E-mail
          </label>
          <input
            type="text"
            class="form-control"
            id="category-name"
            name="email"
            aria-describedby="categoryHelp"
          />
        </div>
        <div class="mb-3">
          <label for="category-name" class="form-label">
            Senha
          </label>
          <input
            type="password"
            class="form-control"
            id="category-name"
            name="password"
            aria-describedby="categoryHelp"
          />
        </div>
        <div class="mb-3">
          <label for="category-name" class="form-label">
            Confirme a senha
          </label>
          <input
            type="password"
            class="form-control"
            id="category-name"
            name="confirm_password"
            aria-describedby="categoryHelp"
          />
        </div>
        <button type="submit" class="btn btn-primary">
          Registar conta
        </button>
      </form>
    </div>
  </div>
</div>