<div>
  <h1>Editar Categoria - {{category._id}}</h1>
  
  <hr>
  <form action="/admin/categoria/editar" method="POST">
  <input type="hidden" name="id" value="{{category._id}}">
  <div class="mb-3">
    <label for="category-name" class="form-label">Nome</label>
    <input type="text" class="form-control" id="category-name"  name="name" value="{{ category.name }}" aria-describedby="categoryHelp">
    <div id="categoryHelp" class="form-text">Informe uma categoria.</div>
  </div>
  <div class="mb-3">
    <label for="category-name" class="form-label">Descrição</label>
    <div class="">
      <textarea class="form-control" placeholder="Sua descrição aqui" id="category-name" name="description" style="height: 100px" aria-describedby="descriptionCategoryHelp">{{category.description}}</textarea>
      <div id="descriptionCategoryHelp" class="form-text">Faça uma breve descrição.</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>