<nav class="navbar ">
  <div class="container flex items-center border-bottom pt-2 pb-4">
    <a class="navbar-brand" href="/"><h2 class="m-0 p-0 lh-1 font-dancing">Além da Razão</h2></a>
    <ul class="navbar-nav flex-row gap-4">
    {{#if user}}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/auth/logout">LogOut</a>
      </li>

    {{else}}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/auth/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/auth/register">Register</a>
      </li>
      
    {{/if}}
    </ul>
  </div>
</nav>
<nav class="mt-2">
  {{>_nav-links}}
</nav>